/* RESET - 
=================================================================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Mettre Box Sizing "border-box" par défaut */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* FORMATTING MAIN HTML TAGS
=================================================================================== */
html { /* or :root */
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5; /*27px for a 18px font-size*/
  color: #212121;
  /*
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  */
}

h1, h2, h3 {
  font-weight: bold;
}

a {
  color: navy;
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease;
}
a:hover {
  color: aquamarine;
}


/* MY CLASSES COLLECTION
=================================================================================== */
.bold, .B {
  font-weight: bold;
  color: inherit;
}



/* LAYOUT COMMON ELEMENTS
=================================================================================== */
#my-header {

}

#nav {

}

#main {
  
}


/* LAYOUT - PAGES
=================================================================================== */
/* INDEX
----------------------------------------*/
#index main {

}


/* ABOUT US
----------------------------------------*/
#about main {

}

/* CONTACT
----------------------------------------*/


/* MEDIA QUERIES
=================================================================================== */
@media (max-width: 800px) {



}


@media (max-width: 600px) {

  

}


@media (max-width: 480px) {

  

}